<html>
<head>
    <meta class="nl-dce-fragment" data-nl-name="EmailUrlBase">

    {% include "@tallink-styles" %}
    {% include "@campagin-styles" %}

</head>
<body class="dc-highlight" style="min-width: 750px;">
<div class="container" data-name-before="It's easy!" data-name-after="Drag and drop your components and start building your email">
    <div class="structure" data-structure-id="1-1-column" data-structure-name="richtext.structure_1_1_column">
        <table class="structure__table" align="center" cellpadding="0" cellspacing="0" border="0" width="750">
            {{ yield }}
        </table>
    </div>
</div>
</body>
</html>

