{%- if field == "first-name" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/firstName" data-nl-type="string" contenteditable="false">First name</span>{% endif %}
{%- if field == "lst-name" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/lastName" data-nl-type="string" contenteditable="false">Last name</span>{% endif %}
{%- if field == "account-no" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusClubAccount" data-nl-type="string" contenteditable="false">Account no</span>{% endif %}
{%- if field == "bonus-points" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusBonusPoints" data-nl-type="integer" contenteditable="false">Bonus points</span>{% endif %}
{%- if field == "tier-level" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusTierLevel" data-nl-type="enumeration" contenteditable="false">Tier level</span>{% endif %}
{%- if field == "level-points" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusLevelPoints" data-nl-type="integer" contenteditable="false">Level points</span>{% endif %}
{%- if field == "cur-mo-exp" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusCurrentMonthsExpPoints" data-nl-type="integer" contenteditable="false">Current Months Expiring Points</span>{% endif %}
{%- if field == "co-level-end" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusCoLevelEnd" data-nl-type="date" contenteditable="false">CO Level End</span>{% endif %}
{%- if field == "nxt-mo-exp" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusNextMonthsExpPoints" data-nl-type="integer" contenteditable="false">Next Months Expiring Points</span>{% endif %}
{%- if field == "email" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/email" data-nl-type="string" contenteditable="false">Email</span>{% endif %}
{%- if field == "email-token" %}<span class="acr-field nl-dce-field" data-nl-expr="/context/profile/cusEmailToken" data-nl-type="string" contenteditable="false">Email token</span>{% endif %}
{%- if field == "unscribe" %}<span class='acr-block nl-dce-fragment' data-nl-name='UnsubscriptionLink' contenteditable='false'>Unsubscription link</span>{% endif %}
