
<div style="background-color: {{ bgColor }}; color:{{textColor }}; padding: 40px">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur cum cumque dignissimos earum eveniet quia sunt, totam ut! Ab, recusandae, sunt. Assumenda consequuntur debitis, ea est harum officiis quam tenetur!
    <br>
    {% include "@button" with { theme: {buttonBg: buttonBg, buttonColor:buttonColor}} %}
</div>

