<tbody>
<tr>
    <th class="colspan1" data-name="Drag a new component here.">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="hide" style="min-width: 650px;" width="650">
            <tbody>
            <tr>
                <td height="1" style="font-size: 1px; line-height: 1px; min-width: 650px;" width="650">
                </td>
            </tr>
            </tbody>
        </table>
        <!-- end non responsive hidden table -->
        <!--start view online-->
        <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="widthtable" style="min-width: 650px;" width="650">
            <tbody>
            <tr height="25">
                <td>
                </td>
            </tr>
            <tr>
                <td align="center" height="25" style="font-family: Arial, Helvetica, sans-serif; color: #004152; font-size: 10px; line-height: 14px; text-align: center;" valign="middle">
                    <div class="text-container" contenteditable="true">
                        <a href="#" name="view_online" style="color: #004152;" target="_blank" xt="SPCLICKTOVIEW" data-id="al15371712726814d7fe6" data-nl-type="externalLink" title="" alt="" data-nl-lnkep-perso-attr-href="<span class=&quot;acr-block nl-dce-fragment is-focus&quot; data-nl-name=&quot;MirrorPageUrl&quot; contenteditable=&quot;false&quot;>Mirror page URL</span>">{{ webVersion }}</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!--end view online-->
        <!--start logo strip-->
        <!--end logo strip-->
        <!--start full width image-->
    </th>
</tr>
{% if default %}
<tr>
    <th class="colspan1" data-name="Drag a new component here.">
        <table align="center" bgcolor="" border="0" cellpadding="0" cellspacing="0" class="widthtable" style="min-width: 650px;" width="650">
            <tbody>
            <tr>
                <td align="center" class="colspan1 is-empty" data-name="Drag a new header component here.">
                </td>
            </tr>
            </tbody>
        </table>
    </th>
</tr>
{% endif %}
<tr>
    <th class="colspan1" data-name="Drag a new component here.">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="widthtable" style="min-width: 650px;" width="650">
            <tbody>
            <tr>
                <td align="center" class="colspan1 is-empty" data-name="Drag a new component here.">
                </td>
            </tr>
            </tbody>
        </table>
    </th>
</tr>
{% if default %}
<tr>
    <th class="colspan1" data-name="Drag a new component here.">
        <table align="center" bgcolor="" border="0" cellpadding="0" cellspacing="0" class="widthtable" style="min-width: 650px;" width="650">
            <tbody>
            <tr>
                <td align="center" class="colspan1 is-empty" data-name="Drag a new footer component here.">
                </td>
            </tr>
            <tr>
                <td align="center" class="colspan1" data-name="Drag a new component here.">
                    <table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" class="hide" style="min-width: 650px;" width="650">
                        <tbody>
                        <tr>
                            <td height="40" style="font-size: 1px; line-height: 1px; min-width: 650px;" width="650">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </th>
</tr>
{% endif %}
</tbody>
