
<body class="dc-highlight">
<meta class="nl-dce-fragment" data-nl-name="EmailUrlBase">
<meta charset="utf-8">

<div class="acr-container">
    <div class="acr-structure" data-structure-id="1-1-column" data-structure-name="richtext.structure_1_1_column">
        <table class="structure__table" align="center" cellpadding="0" cellspacing="0" border="0" width="650">
            <tbody>
            <tr>
                <td class="colspan1" data-name="Drag a new component here.">
                    <div style="padding: 0;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                            <tbody>
                            <tr>
                                <th class="colspan1" style="background-repeat: no-repeat; background-size: auto; font-weight: normal; text-align: left; width: 100%;">
                                    <div style="font-size: 0px; line-height: 1;" class="acr-fragment acr-component" contenteditable="false" data-component-id="text" data-component-name="richtext.component_text">
                                        {%- if default %}
                                            {% include "@co-header-block" %}
                                        {%- else %}
                                            {%- for version in versions %}
                                                {%- include "@co-header-block" with version %}
                                                {#{{version.label}}#}
                                            {%- endfor %}
                                        {%- endif %}
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

