
<body class="dc-highlight">
<meta class="nl-dce-fragment" data-nl-name="EmailUrlBase">
<meta charset="utf-8">
<div class="acr-container" data-name-before="It's easy!" data-name-after="Drag and drop your components and start building your email">
    <div class="acr-container" data-structure-id="1-1-column" data-structure-name="richtext.structure_1_1_column">
        <table align="center" border="0" cellpadding="0" cellspacing="0" class="widthtable" style="min-width: 650px;" width="650">
            <tbody>
            <tr>
                <td align="center" class="colspan1" data-name="Drag a new header component here.">

                    <div style="padding: 0;">
                        <table align="center" cellpadding="0" cellspacing="0" border="0" style="width: 100%;">
                            <tbody>
                            <tr>
                                <th class="colspan1" bgcolor="{{theme.bgColor}}" style="background-repeat: no-repeat; background-size: auto; font-weight: normal; text-align: left; width: 100%;">
                                    <div class="acr-fragment acr-component" contenteditable="false" data-component-id="text" data-component-name="richtext.component_text">
                                        {%- if default %}
                                            {% include "@co-header-block" %}
                                        {%- else %}
                                            {%- for version in versions %}
                                                {%- include "@co-header-block" with version %}
                                                {#{{version.label}}#}
                                            {%- endfor %}
                                        {%- endif %}
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
