@import "../../src/components/variables";
// styles only for styleguide

.sg-box {
    background-color: #eeeeee;
    text-align: center;
    font-size: 20px;
    padding: 23px 0;
}

.Header {
    background: #00416a;
}

a {
    color: #00416a;
}
